@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-sq {
    --color: #b7b7b7;
    opacity: 0.8;
    background-image: linear-gradient(var(--color) 1px, transparent 1px), linear-gradient(to right, var(--color) 1px, transparent 1px);
    background-size: 40px 40px;
}
